html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
  font-size: 16px; /*1rem : 10px*/
  margin: 0;

  background: #ff7e5f;  /* fallback for old browsers */
  background: linear-gradient(to right, #feb47b, #ff7e5f);
}

nav{
  background-color: rgba(223, 231, 230, 0.8);
  text-align: center;
  padding: 2rem;
}
a{
  color: white;
  text-align: center;
  font-size: 3rem;
}

#main{
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  width: 100%;
  height: 100%;
  padding: 4rem;
  background: inherit;
}

#form-registro{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 50%;
  height: fit-content;
  padding: 5rem;
  margin: auto;

  background-color: rgba(255, 255, 255, 0.171);
  border-radius: 2rem;
}

div{
  width: 57%;
}

input{
  height: 3rem;
  width: 100%;
  border: none;
}




label{
  display: block;
  color: rgb(51, 51, 51);
  margin-top: 1.5rem;
}

select{
  display: block;
  margin-top: 2rem;
  height: 3rem;
  border: none;
}

#botones-div{
  display: flex;
  margin-top: 5rem;
}


input[type="button"]{
  margin-left: 1rem;
  cursor: pointer;
  font-size: 1.6rem;
  color: gray;
}

input[type="button"]:hover{
  background-color: rgba(64, 224, 208, 0.699);
  color: white;
}


@media screen and (max-width: 1000px) {
  #main{
    height: 1000%; /* Poner un tamaño min donde alcance todo*/
  }

  #form-registro{
    width: 90%;
    height: fit-content;
    margin-top: 5rem;
    padding: 4rem 2rem;
  }

  #datos input{
    width: 100%;
  }
}